::ng-deep .mat-focused .mat-form-field-label {
  color: #597da0 !important;
}
.mat-form-field-label {
  color: #597da0 !important;
}
::ng-deep input.mat-input-element {
  color: #597da0;
}
::ng-deep.mat-form-field-underline {
  background-color: #597da0 !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #597da0 !important;
}

::ng-deep.mat-form-field-label-wrapper > label > span {
  color: #597da0 !important;
}
