.photos-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.photo-modal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  background-color: #183346;
  border-radius: 10px;
  border: 1px solid #476b8b;
}
.close-dialog-button {
  color: #476b8b;
}
.close-dialog-button:hover {
  cursor: pointer;
  color: #254864;
}
.photo-details:hover{
  cursor: pointer;
}