.main-wrapper{
  position: relative;
  background-color: #183346;
  padding: 10px;
}
.title{
    color: #cedff1;
    padding: 10px;
    font-size: 16px;
}
.loader{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 20px 0;
}
.search-photos, .search-albums{
  padding: 10px;
}